@import "../../scss_config/conf.scss";

.login {
    padding: var(--padding-Y) 0;
    width: 300px;
    @include md {
        width: 100%;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        .form {
            padding: 25px;
            box-shadow: 5px 4px 20px -5px rgba(0, 0, 0, 0.53);
            -webkit-box-shadow: 5px 4px 20px -5px rgba(0, 0, 0, 0.53);
            -moz-box-shadow: 5px 4px 20px -5px rgba(0, 0, 0, 0.53);
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            .title {
                text-align: center;
                margin-bottom: 15px;
                color: var(--primary-color);
            }
            form {
                input {
                    width: 100%;
                    padding: 10px;
                    border: none;
                    background-color: var(--bg-color);
                    border-radius: 5px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    -ms-border-radius: 5px;
                    -o-border-radius: 5px;
                    outline: none;
                    margin-bottom: 10px;
                }
                p {
                    font: 14px;
                    margin-bottom: 10px;
                }
                .buttons {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;
                    flex-wrap: wrap;
                    .btn {
                        display: inline-block;
                        border: none;
                        outline: none;
                        color: #fff;
                        background-color: var(--primary-color);
                        cursor: pointer;
                        padding: 10px 20px;
                        font-size: 16px;
                        margin-right: 20px;
                        font-weight: 400;
                        border-radius: 100px;
                        -webkit-border-radius: 100px;
                        -moz-border-radius: 100px;
                        -ms-border-radius: 100px;
                        -o-border-radius: 100px;
                        transition: all var(--time) linear;
                        -webkit-transition: all var(--time) linear;
                        -moz-transition: all var(--time) linear;
                        -ms-transition: all var(--time) linear;
                        -o-transition: all var(--time) linear;
                        &:hover {
                            background-color: var(--golden-color);
                            color: #000;
                        }
                    }
                }
            }
        }
    }
}
