.products {
    padding: var(--padding-Y) 0;
    .container {
        .title {
            font-size: 20px;
            margin-bottom: 30px;
            color: var(--primary-color) 0;
        }
        .products_cards {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            gap: 20px;
        }
    }
}
