.product_card {
    box-shadow: 5px 4px 20px -5px rgba(0, 0, 0, 0.53);
    -webkit-box-shadow: 5px 4px 20px -5px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 5px 4px 20px -5px rgba(0, 0, 0, 0.53);
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    .wishlist {
        text-align: right;
        font-size: 20px;
        margin-bottom: 10px;
        cursor: pointer;
    }
    .image img {
        width: 100%;
    }
    .product_detailes {
        .brand {
            display: inline-block;
            color: var(--text-color);
            margin-bottom: 5px;
            font-size: 12px;
        }
        a {
            display: block;
            .product_title {
                font-size: 15px;
                font-weight: normal;
                margin-bottom: 10px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                color: var(--primary-color);
            }
        }
        .rate {
            display: flex;
            align-items: center;
            svg {
                color: gold;
            }
            span {
                margin-left: 10px;
                font-size: 14px;
            }
        }
    }
}
