@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
    --primary-color: #111821;
    --secondary-color: #20303d;
    --golden-color: #fcb971;
    --text-color: #c0604c;
    --bg-color: #e0e1df;
    --text-muted: #777;

    --padding-Y: 50px;
    --time: 0.3s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// html {
//     scroll-behavior: smooth;
// }

body {
    font-family: "Poppins", sans-serif;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .container {
        width: 560px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .container {
        width: 980px;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .container {
        width: 1190px;
    }
}

a {
    text-decoration: none;
    display: inline-block;
}

.btn {
    color: #fff;
    background-color: var(--primary-color);
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: all var(--time) linear;
    -webkit-transition: all var(--time) linear;
    -moz-transition: all var(--time) linear;
    -ms-transition: all var(--time) linear;
    -o-transition: all var(--time) linear;
    cursor: pointer;
    &:hover {
        color: #000;
        background-color: var(--golden-color);
    }
}
